<div id="aboutsol" class="purple">
    <div class="container" style="padding-top: 25px; padding-bottom: 25px;text-align: center;min-height: 350px;">
            <h1>❝</h1>
            <h3 style="font-weight: 500 !important;">I'm not standing to push my opinions onto a committee</h3>
            <h1>I'm standing because we need a representative who will listen to young LGBT+ members.</h1>
            <p>~ Solomon Curtbertson</p>
            <a class="solbutton white" href="candidatestatement.html">Read Sols Candidate Statement</a>
            <br>
    </div>
</div>