<div class="container-fluid {{include.color}}" style="min-height: 450px;margin: 0;padding: 0.2;overflow: hidden;">
        <div class="row">
                <div class="col-lg-6 fill" style="height: {{include.height}};">
                    <img src="{{include.widehomebanner-img}}" class="fillimg" style="height: auto; width: 110%;">
                </div>

                <div class="col-lg-6" >
                    <div class="row">
                        <div class="col-lg-1" style="margin: 0;padding: 0;">
                            <img src="/assets/brand/rainbow.png" style="height: {{include.height}}; width: 25px;margin: 0;">
                        </div>
    
                        <div class="col-lg-11">
                            <br>
                            <h1 id="widehometext" style="margin-top: 5px;">{{include.widehomebanner-title}}</h1>
                            <p id="widehomedescription">{{include.widehomebanner-description}}</p>

                            <div class="email">
                                <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://gmail.us1.list-manage.com/subscribe/post?u=7e1fb39f5a9e4ebd1242ad723&amp;id=119728c5b7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group" style="margin-top: 10px;">

        <input type="email" value="" placeholder="Email Address*" name="EMAIL" class="required email textbox" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
        <input type="text" value="" name="MMERGE1" placeholder="Constituency" class="textbox" id="mce-MMERGE1">
    </div>

    <div class="mc-field-group input-group" style="margin-top: 10px;">
        
        <strong>Will you be nominating us? </strong>
<input type="radio" value="Yes" name="MMERGE2" id="mce-MMERGE2-0"><label for="mce-MMERGE2-0">Yes</label></li>
<input type="radio" value="No" name="MMERGE2" id="mce-MMERGE2-1"><label for="mce-MMERGE2-1">No</label></li>
   
    </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7e1fb39f5a9e4ebd1242ad723_119728c5b7" tabindex="-1" value=""></div>
        <div class="clear" style="margin-top: 10px;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="solbutton {{include.buttoncolor}}"></div>
        </div>
    </form>
    </div>
    
    <!--End mc_embed_signup-->
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>

    
</div>

<style>
    #widehometext {
        font-size: 400%;
    }

    #widehomedescription {
        font-size: 150%;
    }

    @media only screen and (max-width: 1000px) { 
        .col-lg-1 {
            display: none;
        }
        
        #widehometext {
            font-size: 250%;
        }

        .fillimg {
            width: 160% !important;
        }
    }

    .fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.textbox {
    border: 0;
    background-color: #e9e9e9;
    margin: 5px;
    width: 300px;
    font-size: 110%;
}
</style>