<footer>
    <div class="footer" style="text-align: center;">
        <a href="index.html"><img src="assets/brand/logo-red.png" style="width: 220px; height: auto;margin-top: 10px;"></a>
        <p style="margin-top: 10px;">Copyright 2021 - Sol for LGBT+ Officer</p>
        <a href="https://clarknarvas.com">Branding and website co-ordinated and built by Clark Narvas <br> with the help from a lot of digestive biscuits and the socialist struggle.</a>
    </div>
</footer>

<style>
    .footer {
        height: 200px;
        background-color: #EFEFEF;
    }
</style>