<div id="policy">
    <div class="container">
    <h1>Sol's Platform</h1>
    <p>Let's make sure everyone is represented.</p>
    <div class="row">
        <div class="col-lg-4">
            <div class="card orange">
                <div class="card-body">
                <h4 class="card-title">Tackling Transphobia</h4>
                <p class="card-text">I will vocally stand against transphobia in all its forms and work with the national committee to lobby the Party to adopt a definition of transphobia.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="solbutton white"><i class="bi bi-box-arrow-in-down"></i> Download PNG to share</a>
                    </div>
            </div>
            </div>

            <div class="col-lg-4">
                <div class="card yellow">
                    <div class="card-body">
                    <h4 class="card-title">Robust Safeguarding Training and Procedures</h4>
                    <p class="card-text">I will act as a champion for safeguarding reform in Young Labour, calling for accessible safeguarding training for young members and youth officers</p>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="solbutton white"><i class="bi bi-box-arrow-in-down"></i> Download PNG to share</a>
                        </div>
                </div>
                </div>

                <div class="col-lg-4">
                    <div class="card green">
                        <div class="card-body">
                        <h4 class="card-title">Accessible LGBT+ Events</h4>
                        <p class="card-text">I will work with LGBT+ Labour for events and parades to be truly accessible to young members</p>

                        </div>
                        <div class="card-footer">
                            <a href="#" class="solbutton white"><i class="bi bi-box-arrow-in-down"></i> Download PNG to share</a>
                            </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card blue">
                        <div class="card-body">
                        <h4 class="card-title">Reports on every meeting.</h4>
                        <p class="card-text">I will write full and detailed reports on each national committee meeting.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="solbutton white"><i class="bi bi-box-arrow-in-down"></i> Download PNG to share</a>
                            </div>
                    </div>
                </div>

            <div class="col-lg-4">
                <div class="card red">
                    <div class="card-body">
                    <h4 class="card-title">Represent Members.</h4>
                    <p class="card-text">I'm standing because we need a representative who will listen to young LGBT+ members, and be your voice on the national committee</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="solbutton white"><i class="bi bi-box-arrow-in-down"></i> Download PNG to share</a>
                        </div>
                </div>
            </div>

            </div>


    </div>

</div>

<style>
    #policy {
        padding: 25px;
    }

    #policy .card {
        margin-top: 15px;
        height: 255px;
    }
</style>