
{% include core-components/baseline.html %}
{% include core-components/headers/solheader-menu.html %}
{% include core-components/widehomebanner/widehomebanner.html height="550px" color="white" buttoncolor="red" widehomebanner-title="Trans Rights, Safeguarding, Accountability" widehomebanner-description="You can count on Sol. Join our campaign today!" widehomebanner-img="/assets/images/stock/lgbt-flag.jpg" %}
{% include promotions/questionbanner/questionbanner.html %}
{% include promotions/policies/policiesunadaptable.html %}
{% include promotions/aboutsol/aboutsol.html %}
{% include core-components/widehomebanner/widehomebanner.html color="red" height="450px" widehomebanner-title="Change starts with you. Join our campaign" widehomebanner-description=""  widehomebanner-img="/assets/images/stock/lgbtflagsloads.jpg" %}
{% include core-components/footers/blankfooter.html %}
{% include core-components/baseline-bottom.html %}
